<div class='order-form'>
    <form>
    <div class="input-form">
        <label>First name: </label>
        <input [(ngModel)]="firstName" name="firstName" type="text" required>
    </div>

    <div class="input-form">
        <label>Last name:</label>
        <input [(ngModel)]="lastName" name="lastName" type="text" required>
    </div>
    <div class="input-form">
        <label>Telephone number:</label>
        <input [(ngModel)]="number" name="number" type="text" required pattern="[0-9]{9,10}">
    </div>

    <div class='cart'>
        <table>
            <tr *ngFor="let movie of cart">
                <td>{{movie.name}}</td>
                <td>{{movie.fee}}</td>  
            </tr>
        </table>
    </div>
    <button (click)="submit()">Confirm</button>
    <button (click)="back()">Powrót</button>
    </form>
</div>